*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* VARIABLES */
:root {
  --primary-color: #4caf4f;
  --light-neutral-color: #f5f7fa;
  --light-color: #fff;
  --dark-color: #263238;
  --dark-neutral-color: #4d4d4d;
  --primary-ff: "Montserrat", "Inter", sans-serif;
  --tint-t-5: #e8f5e9;
}
/* ................................................. */

html {
  font-family: var(--primary-ff);
  color: var(--dark-neutral-color);
}

header {
  height: 100vh;
  background-color: var(--light-neutral-color);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* UTILITIES */
.btn {
  align-self: flex-start;
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 5px;
  margin: 2em 0;
  padding: 1em 2em;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.5, 3, 0, 1);
}
.btn:hover {
  background: transparent;
  color: var(--dark-neutral-color);
  transform: rotatex(20deg) rotateY(20deg);
}

.p-color-text {
  color: var(--primary-color);
}

/* /////////////
     Navbar
/////////////// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  /* box-shadow: 0px 5px 10px 0px #aaa; */
  position: sticky;
  top: 0;
  width: 100%;
  background: transparent;
  color: var(--dark-color);
  opacity: 0.85;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.menu-nav-items {
  /* order: 2; */
  display: flex;
}
.logo {
  /* order: 1; */
  font-size: 2.3rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  color: var(--dark-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .auth a {
  padding: 0.5em 0.8em 0.5em 0.8em;
  color: var(--primary-color);
}

.navbar .auth a:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 5px;
}

/* //////////
   HEADER
///////////// */
.header {
  background-color: var(--light-neutral-color);
  display: flex;
  padding-top: 2em;
  height: 80%;
}

.header .head-text,
.header .head-img {
  flex-grow: 1;
  flex-basis: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .head-img {
  width: 50%;
  justify-content: flex-start;
}

.header .head-text h1 {
  font-family: var(--primary-ff);
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
  /* padding-right: 3em; */
}
.header .head-text h1 span {
  color: var(--primary-color);
}

.header .head-text p {
  font-family: var(--primary-ff);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  align-self: flex-start;
  padding-right: 3em;
}

.header .head-img img {
  width: 100%;
}

/* BODY: CLIENTS */

.clients {
  text-align: center;
  padding: 1.5em 0;
  font-style: normal;
}
.clients h2 {
  color: var(--dark-neutral-color);
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin: 1em auto 0.5em auto;
  width: 50%;
}

.clients p {
  color: var(--dark-neutral-color);
  margin: 0.5em 0 1em 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.clients .client-logos {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.cl-logo {
  flex-basis: 200;
}

.cl-categories {
  display: flex;
  width: 100%;
  gap: 6em;
  justify-content: space-between;
  align-items: center;
}
.cl-category {
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
  padding: 1.7em 2em;
}

.cl-icons {
  border-radius: 18px 5px 10px 5px;
  background-color: var(--tint-t-5);
  width: 50px;
  padding: 1.3em;
  margin: 0.5em auto;
  position: relative;
}

.cl-icons img {
  position: absolute;
  width: 100%;
  top: -9px;
  left: -14px;
}

.cl-category h4 {
  color: var(--dark-neutral-color);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

.cl-info {
  display: flex;
  gap: 1em;
  margin: 2em 0;
  align-items: center;
}

.cl-info .info-text-cont {
  text-align: left;
  height: 100%;
}

.cl-info .info-text h4 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

.cl-info .info-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0.5em 0;
}

.cl-info .info-text-cont a {
  display: inline-block;
  margin: 2em 0;
}

/* SECTION: STAT */
.stats-section {
  background-color: var(--light-neutral-color);
}
.stats-section .container {
  display: flex;
  margin: auto;
  padding: 3em 2em;
  align-items: center;
  gap: 3em;
}
.stats-section .info-text {
  flex: 1;
}
.stats-section .info-text h2 {
  font-size: 36px;

  font-weight: 600;
  line-height: 44px;
}
.stats-section .info-text span {
  color: var(--primary-color);
  display: block;
}
.stats-section .stats {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2em;
  width: 100%;
  flex: 1;
}

.stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
}
.stat .image img {
  width: 100%;
  margin: 0 0.5em 0 -0.5em;
}
.stat .stat-text p:first-child {
  font-size: 28px;

  font-weight: 700;
  line-height: 36px;
}
.stat .stat-text p:last-child {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* SECTION: CUSTOMERS */
.customers {
  background-color: var(--light-neutral-color);
}

.customers .container {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  padding: 3em 0;
}

/* .customers .image {
  border: 5px solid yellow;
}

.customers .image img {
  width: 100%;
} */

.customers .client-logos {
  display: flex;
  justify-content: space-between;
}

.customers .info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.customers .info-text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.customers .client-logos .cl-logo {
  padding-bottom: 0.4em;
}

.customers .client-logos .cl-logo a {
  color: var(--primary-color);
  padding: 1em 2em;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.5, 3, 0, 1);
}

.customers .client-logos .cl-logo a:hover {
  background: linear-gradient(
    180deg,
    #4caf4fff,
    #76c17aff,
    #a1d3a5ff,
    #cbe5cfff,
    #f5f7faff
  );
  color: var(--dark-neutral-color);
  border-bottom: 1px solid var(--primary-color);
  transform: rotatex(20deg) rotateY(20deg);
}

/* SECTION: COMMUNITY UPDATES */
.community {
  margin: 1em auto 4em auto;
}
.community .info-text {
  text-align: center;
  width: 70%;
  margin: 2em auto;
}
.community .info-text h4 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}
.community .info-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.community .updates {
  display: flex;
  padding: 2em 0;
  gap: 2em;
  justify-content: space-between;
}
.community .updates .update-item {
  width: 30%;
  /* flex: 1; */
  position: relative;
}
.community .updates .item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--light-neutral-color);
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
  padding: 2em;
  /* TYPOGRAPHY: ITEM-INFO */

  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  width: 85%;
  height: 75%;
  /* Positioning: ITEM-INFO */
  position: absolute;
  bottom: -30%;
  left: 8%;
}

.community .updates .item-info p {
  margin: 0 0 1em 0;
}

/* SECTION: DEMO */

.demo {
  background-color: var(--light-neutral-color);
  padding: 1em 0;
  margin: 9em 0 0 0;
}
.demo .container {
  margin: 2em auto;
  width: 60%;
}

.demo h2 {
  color: var(--dark-color);
  text-align: center;
  /* padding: 1em 0; */
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
}

.demo a {
  display: flex;
  width: fit-content;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 1em auto 1em auto;
}

/* FOOTER */
footer {
  background-color: var(--dark-color);
  color: var(--light-color);
}

footer .foot-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
  padding: 4em 0;
}
.foot-nav .foot-info .logo-foot {
  font-size: 28px;
  font-weight: 800;
  margin: 0 0 1em 0;
}
.foot-info .copyright {
  line-height: 36px;
  padding-bottom: 2.5em;
}

.foot-info .social-media-icons {
  color: var(--light-color);
  /* background-color: var(--light-color); */
  display: flex;
  font-size: 9px;
  gap: 1.2em;
}

.foot-info .social-media-icons li {
  border: 1px solid var(--dark-neutral-color);
  width: 35px;
  border-radius: 50%;
  height: 35px;
  padding: 0.4em;
}

footer .foot-nav .foot-info:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  flex: 2;
  margin: 0 9em 0 0;
}
footer .foot-nav .foot-info:last-child,
footer .foot-nav .foot-info:nth-child(2),
footer .foot-nav .foot-info:nth-child(3) {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  height: 100%;

  /* justify-content: space-between; */
  flex: 1;
}
footer .foot-nav .foot-info:last-child h6,
footer .foot-nav .foot-info:nth-child(2) h6,
footer .foot-nav .foot-info:nth-child(3) h6 {
  padding-bottom: 1em;
}
footer .foot-nav .foot-info:last-child ul li,
footer .foot-nav .foot-info:nth-child(2) ul li,
footer .foot-nav .foot-info:nth-child(3) ul li {
  padding-bottom: 1em;
}
.foot-nav .foot-info h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.foot-nav .foot-info ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* //////////////
   FORM STYLING
   ////////////// */

.fieldInput {
  display: flex;
  margin: 20px auto;
  width: 300px;
  height: 35px;
  position: relative;
  box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.375);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--dark-neutral-color);
  padding: 0.3em 0;
}
.form-input {
  width: 200px;
  background: var(--dark-neutral-color);
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  color: var(--light-color);
}
.form-input:focus {
  outline: none;
}
.form-submit {
  font-size: 18px;
  color: var(--light-color);
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 35px;
  border-radius: 17px;
  border: none;
  background: var(--dark-neutral-color);
  box-shadow: 5px -2px 81px 1px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

/* .fieldInput {
  display: block;
  margin: 70px auto;
  width: 300px;
  height: 35px;
  position: relative;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.09);
  border-radius: 35px;
  overflow: hidden;
  .form-input {
    width: 200px;
    background: none;
    border: none;
    padding: 12px 20px;
    font-size: 9px;
    color: #6a7c92;
    &:focus {
      outline: none;
    }
  }
  .form-submit {
    font-size: 12px;
    color: #6a7c92;
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 35px;
    border-radius: 17px;
    border: none;
    background: none;
    box-shadow: 5px -2px 81px 1px rgba(0, 0, 0, 0.09);
    cursor: pointer;
  }
} */

/* ...............//////////////// */
